<h1>Item</h1>
<table>
	<tr>
		<td>Name</td> <td>Username</td> <td>Description</td> <td>Price</td>
	</tr>

	<tr>
		<td><%= @comment.content %></td> <td><%=@comment.item%></td> <td><%=@comment.user%></td>
		
	</tr>

</table>

