<h1>Comment List</h1>
<table>
	<tr>
		<td>Name</td> <td>Username</td> <td>Description</td> <td>Price</td>
	</tr>
		<% @comments.each do |p| %>
	<tr>
		<td><%=p.content%></td> 
		<td><%=p.item%></td>
		<td><%=p.user%></td>
		<td><%= link_to "delete", comment_path(p), method: :delete%></td>

	</tr>
<% end %>
</table>
