<%= javascript_include_tag 'nav', 'data-turbolinks-track' => true %>
<% @user = current_user %>
<%= render "users/edit" %>

<br><br>
<h2><%= link_to "Delete Account", user_path(current_user), :method => 'delete', data: { confirm: "Are you sure to delete your account?", :name => "Button" }%></h2>