<table id='item_table' >
<caption>Your saved history</caption>
  <tr>
	  <th>Item Name</th> <th>User Name</th> <th>Price </th> <th>Description</th>
  </tr>
	<tbody id='item_tbody'>
	<% @items.each do |p| %>
			<tr>			
				<%= render 'tabledata', item: p  %>
			</tr>

	<% end %>
	</tbody>
</table>