<table id='item_table' >
  <caption>Your saved history</caption>
  <tr>
	  <th>Item Name</th> <th>User Name</th> <th>Price </th> <th>Description</th>
  </tr>
	<% @items.each do |p| %>
		<tr>
		  <td><%= p.name %></td> <td><%=p.username%></td> <td><%=p.price%></td> <td><%=p.description%></td>
		</tr>
	<% end %>
</table>