<table id='item_table' >
	<% @items.each do |p| %>
		<tr>
			<div>
				<td><%= link_to p.name, item_path(p)%></td> <td><%=p.username%></td> <td><%=p.price%></td> <td><%=p.description%></td>
			</div>
		</tr>
	<% end %>
</table>