<h1>Item</h1>
<table>
	<tr>
		<td>Name</td> <td>Username</td> <td>Description</td> <td>Price</td>
	</tr>
	<tr>
		<td><%= @item.name %></td> <td><%=@item.username%></td> <td><%=@item.price%></td> <td><%=@item.description%></td>
		
	</tr>

</table>

