
h1{
    color: darkgreen;
    font-family: fantasy;
    font-size: 450%;
    font-weight: bold;
    text-align: center;
    text-decoration: blink;
    border-width: 5px;
}

h2{
    color: black;
    font-family: cursive;
    font-size: 150%;
    text-align: center;
    margin:0.1em;
}

h3{
    color: black;

    font-size: 100%;
    font-weight: bold;
    text-align: left;
}

h4{
    color: black;
    font-size: 50%;
    text-align: left;
}
table{
  //  table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px solid black;
    margin:0em;
    padding:0em;
    height:20px;
    width:20px;
    height:20px;
    overflow: hidden;

}

tr,th{
    border: 1px solid black;
    margin:0em;
    padding:0em;
    height:20px;
    width:20px;
    overflow: hidden;
}

label {

    display: block;
    width: 150px;
    height:25px;
    margin-left: auto;
    margin-right: auto;

}


body{

   // background-image: url("green1.jpg");
   // background-repeat:repeat-y;
    background-color: darkseagreen;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    width: auto;
    height:25px;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;

}

img.bg {


    position: fixed;
    top: 0;
    left: 0;
}

.container ul li {
    display: inline-block;
    font-size:150%;
    width: 200px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;

}

button{
    margin-left: auto;
    margin-right: auto;
}